body{
    background-color: rgb(166, 255, 164);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}


.container{
    background-color: rgb(255, 255, 194);
    border: 3px solid gray;
    border-radius: 7px;
    box-shadow: 5px 10px 25px rgb(154, 154, 154);
    max-width: 700px;
    width: 98%;
    padding: 20px 30px;
    margin: 40px 0;
}


#score{
    text-align: center;
    font-weight: bold;
    font-size: 3vmin;
}


.Quiz-area .Joke-area{
    gap: 10vmin;
    margin-top: 30px;
}


#pic1{
    height: 6vmin;
    width: 10vmin;
    border-top-left-radius: 10vmin ;
    border-bottom-right-radius: 10vmin ;
    border-top-right-radius: 1vmin;
    border-bottom-left-radius: 1vmin ;
    box-shadow: 10px 10px 22px rgb(107, 41, 137);
    cursor: pointer;
}

#pic1:hover{
    transform: scale(1.3);
    transition: 3s;
}


#emoji{
    display: flex;
    align-items: center;
    justify-content: center;
}


#smily{
    cursor: pointer;
    font-size: 4vmin;
}

#smily:hover{
    transform: scale(1.7);
    transition: 3s;
}


#settle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}


#btn1, #btn2{
    background-color: rgb(74, 119, 251);
    height: 6vmin;
    width: 13vmin;
    font-size: 3.1vmin;
    text-align: center;
    border-radius: 2.2vmin;
    border: 3px solid rgb(0, 0, 78);
    box-shadow: 2px 2px 12px rgb(139, 138, 192);
    cursor: pointer;
}

#btn1, #btn2:active{
    transform: scale(1.02);
    transition: 0.1s ease-out;
}


#Answer{
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    gap: 3vmin;
}


.answer-btn{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1.1rem;
    background-color: #eaeff5;
    border-radius: 7px;
    text-align: left;
    justify-content: left;
    cursor:grab;
    font-weight:600;
    color:rgb(156, 0, 176);
    box-shadow: 8px 6px 15px #eaeff5;
    border: 1px solid rgb(171, 255, 1)
}


#Question{
    font-size: 2.7vmin;
    font-weight: 600;
}


#againtry{
    display: none;
    background-color: rgb(74, 119, 251);
    height: 6.3vmin;
    font-weight: 500;
    font-size: 2.5vmin;
    text-align: center;
    border-radius: 2.2vmin;
    border: 3px solid rgb(0, 0, 78);
    box-shadow: 2px 2px 12px rgb(139, 138, 192);
    cursor: pointer;
}

#joke-setup{
    font-size: 2.7vmin;
    font-weight: 600;
}


#joke-display{
    font-size: 2.7vmin;
    font-weight: 600;
}